/*
  Theme: Personal website theme.
  Description: Overall styling for my personal website. Pertains to minimalist and responsive design.
  Author: Abd Wafiee Abd Wahab
  Tags: Website, Responsive Design, Mobile, Desktop
*/

/*General Style*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
}

p {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300;
  font-size: 15px;
}

/*navbar*/
.navbar {
  font-family: 'Lato', sans-serif !important;
  background-color: #F7CE3E;
  margin: 0;
  border: 0;
  border-radius: 0;
  font-size: 14px;
  letter-spacing: 3px;
}

.nav.navbar-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: none;
  }
}

.nav li a {
  color: #0A1612;
}

.nav li a:focus, .nav li a:hover {
  text-decoration: none;
  background-color: rgba(238, 238, 238, 0);
}

.nav li a:hover {
  color: white;
}

.navbar-toggle {
  padding: 8px 10px;
}

.navbar-toggle span{
  background-color: white;
  height: 3px !important;
}

 /*navbar underline slide animation*/
.underline-slide {
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
}

.underline-slide:after {
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.underline-slide:hover:after {
  width: 100%;
  background: white;
}

/*Main Body*/
.titleDiv {
  height: 100%;
  margin: 0;
  background-color: #F7CE3E;
}

.titleDiv img {
  margin-top: 4.5em;
  margin-bottom: 1.5em;
}

@media (max-width: 700px) {
  .titleDiv img {
    margin-top: 9.5em;
    margin-bottom: 1.5em;
  }
}

.button {
  background: transparent;
  color: #0A1612;
  text-decoration: none;
  text-transform: uppercase;
  border: solid #0A1612;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.5s;
}

.button:hover, .button:focus {
  text-decoration: none;
  color: #0A1612;
}

.button:hover {
  color: white;
  border-color: white;
}

.me p {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .me p {
    width: 100%;
  }
}

/*-----------------About Section-----------------*/

.aboutDiv {
  margin: 0;
  padding-top: 2em;
  padding-bottom: 1em;
  color: white;
  text-align: center;
  font-weight: 400;
  background-color: #1A2930;
}

.aboutDiv h1, .skillsDiv h1, .projectsDiv h1, .contactDiv h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin-bottom: 1em;
  font-size: 40px;
}

.aboutMe {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.slogan {
  padding-top: 3em;
  padding-bottom: 0.5em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 766px) {
  .slogan, aboutMe {
    width: 100%;
  }
}

.slogan p {
  margin-top: 1.5em;
  margin-bottom: 2.5em;
}

hr {
  margin-top: 2em;
  margin-bottom: 2.5em;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-top: 1px solid #F7CE3E;
  opacity: 0.5;
  width: 80%;
}

.education {
  text-align: left;
  width: 80%;
}

.education .row {
  padding-bottom: 2.5em;
}

.education h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 1em;
}

.education h4 {
  margin-top: 0;
  font-size: 22px;
  font-weight: 300;
}

.education small {
  color: #C5C1C0;
}

.degree .description, .highSchool .description {
  border-left-style: solid;
  border-width: thin;
  border-color: #F7CE3E;
}

.degree .description a {
  text-decoration: none;
  color: white;
}

/*-----------------Skills Section-----------------*/
.skillsDiv {
  font-weight: 400;
}

.skillsDiv .row {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.skillsDiv .container {
  width: 70%;
}

@media (max-width: 768px) {
  .skillsDiv .container {
    width: 100%;
  }
}

.skills, .software {
  padding-top: 2em;
  padding-bottom: 2.5em;
  text-align: center;
  color: white;
}

.skills {
  background-color: #F7CE3E;
}

.software {
  background-color: #C5C1C0;
}

.skillsDiv h1 {
  margin-bottom: 1.5em;
}

.skillsDiv p, .skillsDiv img {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #0A1612;
}

.skillsDiv p {
  border-bottom: 1px solid #1A2930;
}

.skillsDiv span {
  color: #0A1612;
  margin-bottom: 3em;
}

/*-----------------Projects Section-----------------*/
.projectsDiv {
  margin: 0;
  padding-top: 3em;
  padding-left: 0;
  padding-right: 0;
  background-color: #1A2930;
  color: white;
  text-align: center;
  font-weight: 400;
  width: 100%;
}

.projectsDiv .container-fluid {
  padding: 0;
}

.projectsDiv .row {
  padding: 0;
  margin: 0;
}

.projectsDiv h1 {
  margin-bottom: 1.5em;
}

.projectsDiv h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 40px;
}

.image {
  padding: 0;
  position: relative;
  overflow: hidden;
}

.image img {
  width: 100%;
  padding: 0;
}

/*projects display. Credits to Mary Lou, https://tympanus.net/codrops/2014/06/19/ideas-for-subtle-hover-effects/*/
figure.effect-alpha figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(81, 135, 160, 1) 75%);
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(81, 135, 160, 1) 75%);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}

figure.effect-alpha h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
  opacity: 0;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

@media (max-width: 400px) {
  figure.effect-alpha h2 {
    top: 2em;
    font-size: 30px;
  }
}

figure.effect-alpha figcaption::before,
figure.effect-alpha p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-alpha p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

@media (max-width: 700px) {
  figure.effect-alpha p {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0;
    padding-bottom: 0.5em;
  }
}

figure.effect-alpha:hover h2 {
	color: white;
  opacity: 1;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-alpha:hover figcaption::before ,
figure.effect-alpha:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*-----------------Contact Section-----------------*/
.contactDiv {
  margin: 0;
  padding-top: 2em;
  padding-bottom: 2em;
  color: white;
  text-align: center;
  font-weight: 400;
  background-color: #C5C1C0;
}

.contactDiv h1 {
  margin-bottom: 0.5em;
}

.contactDiv h4 {
  margin-bottom: 3em;
}

.contactRow {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

@media (max-width: 700px) {
  .contactRow {
    width: 100%;
  }
}

.myInfo {
  text-align: left;
  margin-bottom: 2em;
}

.myInfo a {
  text-decoration: underline;
  color: #1A2930;
}

.contactForm {
  color: #1A2930;
}

.form-control {
  border-color: #F7CE3E;
  background-color: white;
  color: #1A2930;
}

.contactDiv textarea {
  resize: none;
}

.contactBtn {
  color: #F7CE3E !important;
  border-color: #F7CE3E !important;
}

/*-----------------Footer-----------------*/
footer {
  background-color: #F7CE3E;
}

footer .container {
  color: #0A1612;
  margin-left: auto;
  margin-right: auto;
  margin: 3em auto 3em auto;
  text-align: center;
}
