/*
  Theme: Eco Ponies Garden theme.
  Description: Overall styling for the Eco Ponies Garden Website. Includes responsive designs to enable both mobile and computer platforms
  Author: Wafiee Abd Wahab
  Tags: Website, Responsive Design, Eco Ponies Garden
*/

/*General Style*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

/*navigation bar*/
.navbar {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
  background-color: #75a921;
  border: 0;
  border-radius: 0;
  font-size: 11px;
  letter-spacing: 2px;
  opacity: 0.9;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar li a, .navbar {
  color: white !important;
}

.navbar-nav li a:hover {
  color: #000 !important;
}

.navbar-nav li.active a {
  color: #white !important;
  background-color: #29292c !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-brand, .navbar-nav li a {
  line-height: 37px;
  height: 64px;
}

.navbar-nav li .dropdown-menu {
  margin-top: -1px;
  margin-right: 0px;
  padding: 0;
  border: 0;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: rgba(51, 51, 51, 0.89);
}

.dropdown-menu li a {
  color: #000 !important;
  text-align: center;
  padding-top: 14px;
}

.dropdown-menu li a:hover {
  background-color: #555;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-default button {
  margin: 10px;
  padding: 14px;
  border: 0;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 27px;
    height: 4px;
    border-radius: 20px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #0d0c0c;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}


/*Footer bar*/
footer {
  background-color: rgba(51, 51, 51, 0.89);
  font-size: 14px;
  opacity: 0.9;
  margin-top: 20px;
  border: 0;
  border-radius: 0;
  color: white;
}

footer .glyphicon {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Home Page*/
.jumbotron {
  height: 100%;
  margin: 0;
  background-image: url('img/welcome_img_v2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.titleDiv {
  margin: 224px;
  padding-top: 10px;
  color: white;
  text-shadow:
}

.titleDiv h1 {
  font-weight: normal;
}

.row {
  margin: 20px auto auto 0;
}

.welcomeDiv {
  width: 70%;
}

.message h2 {
  font-size: 36px;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 26px;
}

.text p {
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
}

.caption p {
  text-align: center;
  color: rgba(0, 0, 0, 0.51);
}
